@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* Ajustements de la taille et du poids des polices */
.text-sm {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Classe utilitaire pour forcer la police Montserrat */
.font-heading {
  font-family: 'Montserrat', sans-serif;
} 